@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<a asp-controller="Authors" asp-action="Index">
    <button class="btn btn-primary"> Авторы</button>
</a>
<a asp-route-area="" asp-controller="Authors" asp-action="Genres">
    <button class="btn btn-primary"> Жанры</button>
</a>